.accimage{
    background-size: cover;
    background-image: url('./Geog.jpg');
    height: 400px;
    width: 100%;
    margin-top: -60px;
    margin-bottom: 50px;  
}
.titlebig{
    text-align: center;
    font-family: Verdana;
    margin:350px 50px 100px 1000px;
    font-size: 15px;
    color: rgb(14, 13, 13);
    background-color:  rgb(255, 255, 255,0.6);
    border-radius: 5px;
}

