<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/f224fd0a18.js"></script>
    <style>
      * {
        padding: 0;
        margin: 0;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }
      a {
        text-decoration: none;
      }
      header {
        height: 100px;
        width: 100%;
        background-color: rgb(245, 247, 250);
      }
      h3 {
        color: rgb(151, 73, 18);
        line-height: 100px;
        max-width: 100px;
        margin: auto;
      }
      .body {
        width: 100%;
        min-height: 800px;
        background-color: rgb(245, 247, 250);
      }
      .container {
        width: 500px;
        height: 550px;
        background-color: #fff;
        margin: auto;
        padding: 30px;
        text-align: center;
        border-radius: 20px;
      }
      .img {
        font-size: 100px;
        width: 100px;
        height: 100px;
        margin: 30px auto;
        color: rgb(151, 73, 18);
      }
      .passage {
        color: rgb(115, 111, 104);
      }
      h2 {
        line-height: 60px;
      }
      p {
        margin-top: 30px;
      }
      .btn {
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: rgb(151, 73, 18);
        font-size: 20px;
        color: #fff;
        border: #fff;
        border-radius: 10px;
        margin: 40px 0;
      }
      .ignore {
        font-style: italic;
        color: rgb(223, 222, 223);
      }
    </style>
  </head>
  <body>
    <header><h3>SlipperTrip</h3></header>
    <div class="body">
      <div class="container">
        <div class="img">
          <i class="far fa-envelope"></i>
        </div>
        <div class="passage">
          <h2>Hi {{ email }}, verify your email address</h2>
          <hr />
          <p>
            In order to start using your SlipperTrip account, you need to
            confirm your email address
          </p >
        </div>
        <a href='http://127.0.0.1:8000/api/user/active/{{ info }}'><div class="btn">Verify Email Address</div></a >
        <div class="ignore">
          <p>
            If you did not sign up for this account, you can ignore this email
            and the account will be deleted.
          </p >
        </div>
      </div>
    </div>
  </body>
</html>