@media screen and (max-width: 1500px) {
  .header {
    background-color: rgba(119, 74, 23, 0.8);
    width: 100%;
    margin-top: 0px;
    position: fixed;
    height: auto;
    padding: 0px;
    z-index:999;
  }

  .icon {
    display: none;
  }
  .nav {
    padding: 10px;
    list-style: none;
    float: right;
    margin-right: 30px;
  }

  .logo-text {
    float: left;
    margin-left: 30px;
    padding: 10px;
  }

  .logo-text:hover {
    text-shadow: 2px 2px rgba(247, 168, 49, 0.822);
  }

  .nav {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  .nav-li {
    display: inline-block;
    list-style: none;
    padding: 5px;
  }
  .nav-li a {
    margin-left: 30%;
    color: rgb(255, 255, 254);
    font-family: Helvetica;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
  }

  .nav-li a:hover {
    color: rgb(218, 129, 14);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-color: rgba(119, 74, 23, 0.8);
    width: 100%;
    margin-top: 0px;
    position: fixed;
    height: auto;
    padding: 0px;
  }

  .nav {
    padding: 10px;
    list-style: none;
    float: right;
    margin-right: 30px;
  }

  .logo-text {
    float: left;
    margin-left: 10px;
    font-size: 20px;
    padding: 0px;
  }

  .logo-text:hover {
    text-shadow: 2px 2px rgba(247, 168, 49, 0.822);
  }

  .nav {
    display: block;
    margin: 0 auto;
  }

  .nav-li {
    display: inline-block;
    list-style: none;
    padding: 5px;
  }
  .nav-li a {
    margin-left: 30%;
    color: rgb(255, 255, 254);
    font-family: Helvetica;
    padding: 3px;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;
  }

  .nav-li a:hover {
    color: rgb(218, 129, 14);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  }
}
