
@media screen and (max-width: 1500px){
    .image2{
        background-size: cover;
        background-image: url('./Image/Mildenhall.jpg');
        height: 500px;
        width: 100%;
        margin-top: -60px;
    }
    .image3 {
        background-size: cover;
        background-image: url('./Image/image2.jpg');
        width: 25%;
        height: 510px;
        margin: 100px 5px 100px 150px;
        border-radius: 10px;
        
    }
    .image4 {
        width: 25%;
        height: 500px;
        margin: 100px 5px 100px 5px;
        border-radius: 10px;
    }

    .image4-1 {
        width: 100%;
        height: 250px;
        margin: 0px 10px 10px 10px;
        background-size: cover;
        background-image: url('./Image/image3.jpg');
        border-radius: 10px;
    }
    .image4-2 {
        width: 100%;
        height: 250px;
        margin: 0px 10px 20px 10px;
        background-size: cover;
        background-image: url('./Image/image4.jpg');
        border-radius: 10px;
    }
    .image5 {
        background-size: cover;
        background-image: url('./Image/image5.jpg');
        width: 25%;
        height: 510px;
        margin: 100px 150px 100px 5px;  
        border-radius: 10px;
    }

    .link3{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 55% 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
    .link-1{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 100px 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
    .link4{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 55% 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
}
.image3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #ccc;
}
.image4-1:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #ccc;
}
.image4-2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #ccc;
}
.image5:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px #ccc;
}
@media screen and (max-width: 1300px){
    .image2{
        background-size: cover;
        background-image: url('./Image/Mildenhall.jpg');
        height: 650px;
        width: 100%;
        margin-top: -60px;
    }
    
    .image3 {
        background-size: cover;
        background-image: url('./Image/image2.jpg');
        width: 40%;
        height: 600px;
        margin: 50px 0px 0 100px;
        
    }
    .image4 {
        width: 40%;
        height: 600px;
        margin: 50px 50px;
    }

    .image4-1 {
        width: 100%;
        height: 275px;
        margin: 0px 10px 25px 10px;
        background-size: cover;
        background-image: url('./Image/image3.jpg');
    }
    .image4-2 {
        width: 100%;
        height: 275px;
        margin: 25px 10px 0px 10px;
        background-size: cover;
        background-image: url('./Image/image4.jpg');
    }
    .image5 {
        background-size: cover;
        background-image: url('./Image/image5.jpg');
        width: 100%;
        height: 300px;
        margin: 0px 150px 0 150px;
    }

    .link3{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 40% 30% 0 30%;
        width: auto;
        padding: 30px;
        border-radius: 10px;
    }
    .link-1{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 100px 30% 0 30%;
        width: auto;
        padding: 20px;
        border-radius: 10px;
    }
    .link4{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 15% 30% 0 30%;
        width: auto;
        padding: 20px;
        border-radius: 10px;
    }
    
   
}
@media screen and (max-width: 960px){
    .image2{
        background-size: cover;
        background-image: url('./Image/bathroom1.jpg');
        height: 650px;
        width: 100%;
        margin-top: -60px;
    }
   
    .image3 {
        background-size: cover;
        background-image: url('./Image/image2.jpg');
        width: 100%;
        height: 250px;
        margin: 100px 50px 0 50px;
        
    }
    .image4 {
        width: 100%;
        height: 600px;
        margin: 50px 50px 0 50px;
    }

    .image4-1 {
        width: 100%;
        height: 250px;
        margin: 0px 10px 10px 10px;
        background-size: cover;
        background-image: url('./Image/image3.jpg');
    }
    .image4-2 {
        width: 100%;
        height: 250px;
        margin: 50px 10px 0px 10px;
        background-size: cover;
        background-image: url('./Image/image4.jpg');
    }
    .image5 {
        background-size: cover;
        background-image: url('./Image/image5.jpg');
        width: 100%;
        height: 250px;
        margin: 30px 50px;
    }

    .link3{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 20% 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
    .link-1{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 100px 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
    .link4{
        text-align: center;
        background-color:  rgba(252, 251, 250, 0.9);
        margin: 20% 30% 0 30%;
        width: auto;
        padding: 15px;
        border-radius: 10px;
    }
    
}
.title1{
    text-align: center;
    font-family: Verdana;
    color:rgba(66, 57, 48, 0.9);
    font-size: 40px;
}
