@media screen and (max-width: 1500px) {
  .imagepro {
    background: rgba(0, 0, 0, 0.5) url("./Image/image2.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: -60px;
  }

  .search {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 20px;
    margin-bottom: 150px;
    border-radius: 20px;
  }

  .tag1 {
    padding: 10px;
      background-color: rgba(156, 105, 28, 0.8);
      color: rgba(255, 254, 253, 0.95);
      margin: 10px;
      border-radius: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .imagepro {
    background: rgba(0, 0, 0, 0.5) url("./Image/image2.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: auto;
    width: 100%;
    margin-top: -60px;
  }

  .search {
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 20px;
    border-radius: 20px;
  }

  .tag1 {
    padding: 8px;
    background-color: rgba(156, 105, 28, 0.8);
    border-radius: 10px;
    margin: 15px;
    font-size: 13px;   
  }
}
.tag1:hover {
  box-shadow: 2px 2px 8px #ccc;
}
.listplace{
  padding: 5px;
  text-align: center;
  background-color: rgba(156, 105, 28, 0.8);
  border-radius: 10px;
  margin:30px 30% 30px 30%;
  font-size: 25px;  
  font-family: Verdana;  
}
.listplace:hover {
  box-shadow: 2px 2px 5px rgb(51, 49, 49);
}
.containerstyle {
  width: 100%;
}
