@media screen and (max-width: 1500px){
    .imagesave {
        background:rgba(0, 0, 0, 0.5)  url("./Image/image3.jpg");
        background-blend-mode: darken;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
        margin-top: -60px;
      }
      
    .search {
        background-color:rgba(255, 255, 255, 1);
        margin-top: 200px;
        border-radius: 20px;
    }
    .tag2 {
      padding: 10px;
      background-color: rgba(156, 105, 28, 0.8);
      color: rgba(255, 254, 253, 1);
      margin: 10px;
      border-radius: 10px;
    }
  }
  
  @media screen and (max-width: 1200px){
    .imagesave {
      
      background: rgba(0,0, 0, 0.5) url("./Image/image3.jpg");
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      width: 100%;
      
      margin-top: -60px;
      }
      
    .search {
        border-radius: 20px;
        background-color:rgba(255, 255, 255, 1);
        margin-top: 200px;
        font-size: 15px;
    }
    .tag2 {
      padding: 8px;
      background-color: rgba(156, 105, 28, 0.8);
      border-radius: 10px;
      margin: 5px;
      font-size: 13px; 
    }
  }
  .tag2:hover {
    box-shadow: 2px 2px 8px #ccc;
  }