.background {
  /* color: red; */
  /* margin: 0 auto; */
  width: 100%;
  height: 600px;
  background: url(./Image/SydneyHarbour.jpg) rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.container {
  margin: auto;
  width: 800px;
  min-height: 300px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}
