@media screen and (max-width: 1500px){
    .imageuser {
        
        background:rgba(0, 0, 0, 0.5)  url("./Image/image5.jpg");
        background-blend-mode: darken;
        background-size: cover;
        height: auto;
        width: 100%;
        margin-top: -60px;
      }
      
    .search {
        border: 2px rgba(48, 45, 45, 0.6);
        margin-top: 200px;
        border-radius: 20px;
    }
      
    .search-title {
      text-align: center;
      margin-top: 20px;
      color: rgba(46, 21, 21, 0.863);
    }
  
    .tag4 {
      padding: 10px;
      background-color: rgba(156, 105, 28, 0.8);
      color: rgba(255, 254, 253, 0.9);
      margin: 10px;
      border-radius: 10px;
    }
  }
  
  @media screen and (max-width: 1200px){
    .imageuser {
        background:rgba(0, 0, 0, 0.5)  url("./Image/image5.jpg");
        background-blend-mode: darken;
        background-size: cover;
        height: auto;
        width: 100%;
        margin-top: -60px;
      }
      
    .search {
        border-radius: 20px;
        border: 2px rgba(48, 45, 45, 0.6);
        margin-top: 200px;
        font-size: 15px;
    }
  
    .tag4{
      padding: 8px;
      background-color: rgba(156, 105, 28, 0.8);
      border-radius: 10px;
      margin: 5px;
      font-size: 13px; 
    }
  }
  .tag4:hover {
    box-shadow: 2px 0px 5px #ccc;
  }