@media screen and (max-width: 1500px){
  .image{
    background-size: cover;
    background-image: url('../public/image1.jpg');
    height: 750px;
    width: 100%;
    margin-top: -60px;
  }
  .search {
    height: 450px;
    width: 400px;
    border: 2px  rgba(255, 255, 255, 0.808);
    margin-left: 100px;
    margin-top: 100px; 
  }
  .search-title{
    text-align: center;
    margin-top: 20px;
    color: rgba(46, 21, 21, 0.863);
  }
  Form {
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }
  .Row {
    margin: 20px;
  }

  .TitleStyle {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .FormLabel {
    float: left;
    margin-left: 20px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel2 {
    float: left;
    margin-left: 20px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel-1 {
    float: left;
    margin: 0 25px;
    height: 20px; 
  }
  .Input {
    width: 360px;
    padding: 10px;
    margin-left: 20px; 
  }
  .Button{
      float: right;
      margin-right: 30px;
      width: auto;
      position: relative;
      color: #fff !important;
      text-transform: uppercase;
      background: #854b1c;
      padding: 10px;
      border-radius: 10px;
      border: none;
      }
  .Button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
  .SignIn {
    color: #84a196;
    text-decoration: underline;
  }
  .select{
    margin-left: 25px;
    padding: 5px;
    width: 280px;
    
  }
}
@media screen and (max-width: 1300px){
  .image{
    background-size: cover;
    background-image: url('../public/image1.jpg');
    height: 750px;
    width: 100%;
    margin-top: -60px;
  }
  .search {
    height: 500px;
    width: auto;
    border: 2px  rgba(255, 255, 255, 0.808);
    margin: 50px;
   
  }
  .search-title{
    text-align: center;
    margin-top: 20px;
    color: rgba(46, 21, 21, 0.863);
  }
  Form {
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }
  .Row {
    margin: 20px;
  }

  .TitleStyle {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .FormLabel {
    float: left;
    margin-left: 12px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel2 {
    float: left;
    margin-left: 30px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel-1 {
    float: left;
    margin: 0 25px;
    height: 20px; 
  }
  .Input {
    width: 360px;
    padding: 8px;
    margin: 20px; 
  }
  .Button{
      float: right;
      margin-right: 30px;
      width: auto;
      position: relative;
      color: #fff !important;
      text-transform: uppercase;
      background: #854b1c;
      padding: 10px;
      border-radius: 10px;
      border: none;
      }
  .Button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
  .SignIn {
    color: #84a196;
    text-decoration: underline;
  }
  .select{
    margin: 25px;
    padding: 5px;
    width: 280px;
    
  }

}

@media screen and (max-width: 600px){
  .image{
    background-size: cover;
    background-image: url('../public/image1.jpg');
    height: 750px;
    width: 100%;
    margin-top: -60px;
  }
  .search {
    height: 500px;
    width: auto;
    border: 2px  rgba(255, 255, 255, 0.808);
    margin: 50px;
   
  }
  .search-title{
    text-align: center;
    margin-top: 20px;
    color: rgba(46, 21, 21, 0.863);
  }
  Form {
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 10px 0;
  }
  .Row {
    margin: 20px;
  }

  .TitleStyle {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .FormLabel {
    float: left;
    margin-left: 20px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel2 {
    float: left;
    margin-left: 20px;
    height: 20px;
    text-align: center;
    color: rgb(66, 55, 55);
  }
  .FormLabel-1 {
    float: left;
    margin: 0 25px;
    height: 20px; 
  }
  .Input {
    width: 360px;
    padding: 8px;
    margin: 20px; 
  }
  .Button{
      float: right;
      margin-right: 30px;
      width: auto;
      position: relative;
      color: #fff !important;
      text-transform: uppercase;
      background: #854b1c;
      padding: 10px;
      border-radius: 10px;
      border: none;
      }
  .Button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
  .SignIn {
    color: #84a196;
    text-decoration: underline;
  }
  .select{
    margin: 25px;
    padding: 5px;
    width: 280px;
    
  }

}